/** main page (home) */
/*! NEED THIS FOR ALL CSS */
* { margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TODO BODY OF THE HOME FILE */
body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
.Section_top{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(images/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 10s infinite ease-in-out;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;

}

.content a{
  background: #85c1ee;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
}
.content a:hover{
  background: #034e88;
  color: #fff;
}

/*TODO this is to switch to different backgrounds */
@keyframes change{
  0%
  {
      background-image: url(../images/forest.jpg);
  }
  20%
  {
      background-image: url(../images/forest4.jpg);
  } 
  40%
  {
      background-image: url(../images/tree2.jpg);
  }
  60%
  {
      background-image: url(../images/road.jpg);
  }
  80%
  {
      background-image: url(../images/Road2.jpg);
  }
  100%
  {
      background-image: url(../images/TableM.jpg);
  }
}

/*TODO Nav bar important for all the pages */
.nav a {
  color: black;
  font-size: 26px;
  border-radius: 3px;
  display: inline-block;
  margin: 10px;
  padding: 11px;
  text-decoration: none;
  border: 1px solid transparent;
}
/** Nav hover effect settings */
.nav a:hover {
  background-color: #ddd;
  color: rgba(117, 122, 38, 0.568);
  border-color: rgba(67, 37, 238, 0.37);
  border-radius: 2px;
}