/*! NEED THIS FOR ALL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100vh;
  font-family: sans-serif;
  background-image: url(../images/TableM.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

/*TODO (About page) Nav bar */
/** Nav bar layout */
.nav a {
  color: black;
  font-size: 26px;
  border-radius: 3px;
  display: inline-block;
  margin: 10px;
  padding: 11px;
  text-decoration: none;
  border: 1px solid transparent;
}
/**Hover settings for Nav */
.nav a:hover {
  background-color: #ddd;
  color: rgba(117, 122, 38, 0.568);
  border-color: rgba(67, 37, 238, 0.37);
  border-radius: 2px;
}

footer {
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28;
    font-size: 14px;
  }
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0;
  }
  .socials li {
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: aqua;
  }

